@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /* border: 1px solid #000; */
  font-family: "Quicksand";
}

body {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  background-attachment: fixed;
}

.header-container {
  background-color: #0006;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

.header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 1rem;
}

h1 {
  color: #eee;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: "Caveat Brush";
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.github-name {
  color: #ddd;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

h2 {
  padding: 1rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.projects-container {
  padding-top: 2rem;
display: flex;
justify-content: center;
}

.projects {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 0 0.5rem 1rem 1rem;
}

.project {
  max-width: 600px;
  padding: 1rem;
  background-color: #fff;
  border-left: 8px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 
    "name name name course course"
    "intro intro intro intro intro"
    "thumb thumb thumb thumb blank"
    "thumb thumb thumb thumb live-link"
    "thumb thumb thumb thumb github-link"
    "thumb thumb thumb thumb odin-link";
  transition: 0.5s;
}
.project:hover {
  border-left: 8px solid #e7b74d;
  scale: 1.05;
}
.project-name {
  grid-area: name;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.course {
  grid-area: course;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: right;
  color: #e7b74d;
}
.project-intro {
  grid-area: intro;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.project-thumbnail {
  grid-area: thumb;
  width: 100%;
  cursor: pointer;
}
.live-link {
  grid-area: live-link;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.github-link {
  grid-area: github-link;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.odin-link {
  grid-area: odin-link;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #0006;
  text-align: center;
  color: #ccc;
}