* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 1px solid #000;
}

body {
  background-color: #808080;
}

.container {
  width: min(1430px, 100vw);
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  background: #0006;
  min-width: 150px;
  padding: 0 1rem;
}

.sidebar-content {
  color: white;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.menu-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center; 
}

.material-icons {
  text-align: center;
}

.material-icons.menu-header {
  margin-top: 2rem;
  font-size: 3rem;
}

.menu-item {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

main {
  display: grid;
  grid-template-rows: 8rem 1fr;
}

.header {
  background-color: #2b6478;
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.main-content {
  display: grid;
  grid-template-columns: 18fr 7fr;
}

.project-container {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.header-2 {
  padding: 1rem 1rem 0.5rem 1rem;
  /* background-color: #285c6e; */
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* .projects-container .header-2 {
  position: sticky;
  top: 8rem;
} */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 0 0.5rem 1rem 1rem;
}

.project {
  height: 16rem;
  padding: 1rem;
  background-color: #fff;
  border-left: 8px solid #e7b74d;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.project-name {
  grid-area: 1 / 1 / 2 / 6;
  font-size: 1rem;
  font-weight: bold;
}
.project-intro {
  grid-area: 2 / 1 / 4 / 6;
  font-size: 0.9rem;
}
.thumbnail {
  grid-area: 4 / 1 / 7 / 6;
  width: 80%;
}
.icon1 {
  grid-area: 4 / 5 / 6 / 6;
  margin: auto;
}
.icon2 {
  grid-area: 5 / 5 / 7 / 6;
  width: 50%;
  margin: auto;
}
.icon3 {
  grid-area: 6 / 5 / 8 / 6;
  margin: auto;
}

.rightside {
  min-width: 150px;
  display: grid;
  grid-template-rows: 38vh 38vh;
}

.rightside-container {
  
}

/* #top {
  position: sticky;
  top: 8rem;
} 

#bottom {
  position: sticky;
  top: calc(10rem + 38vh);
} */

.list-container {
  height: 88%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
display: grid;
grid-template-rows: 1fr 1fr 1fr;
}

.list-item {
  padding: 0.5rem;
  border-bottom: 2px solid #ccc;
}

